body { background: #118db3; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-user-0 { color: #d9edfa; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #18b39f; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #6ddad3; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #8fda4a; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #68c59c; font-size: 14px; margin-bottom: 5px; }